

/* declarar valores de colores y tamaños */
:root {
    --cel-size: 100px;

    --color: #81c3fd;
    /* for hover */
    --color-set: #0275d8;
    /* when set */
    --l: 10px;
    /* X line-width */
}

body {
    margin: 0;
    gap: 1;
}

.board {
    width: 300px;
    height: 100px;
    display: grid;
    padding-left: 200px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto)
}

img{
    z-index: 0;
    display: flex;
    height: 200px;
    justify-content: center;
       
}

.cel {
    z-index: 1;
    width: var(--cel-size);
    height: var(--cel-size);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    cursor: pointer;
    padding: 0px;

}

/* remove border for edges */
.cel:nth-child(1),
.cel:nth-child(2),
.cel:nth-child(3) {
    border-top: none;
}

.cel:nth-child(1),
.cel:nth-child(4),
.cel:nth-child(7) {
    border-left: none;
}

.cel:nth-child(3),
.cel:nth-child(6),
.cel:nth-child(9) {
    border-right: none;
}

.cel:nth-child(7),
.cel:nth-child(8),
.cel:nth-child(9) {
    border-bottom: none;
}

.cel.x,
.cel.o {
    cursor: not-allowed;
}


/* for cross */
.board.x .cel:not(.o):not(.x):hover {
    background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
        linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

/* for cross (set) */
.cel:not(.o).x {
    background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
        linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

/* for circle */
.board.o .cel:not(.o):not(.x):hover {	
	background: radial-gradient(var(--color) 60%, transparent 60%);
}

/* for circle (set) */
.cel:not(.x).o {
	background: radial-gradient(var(--color-set) 60%, transparent 60%);
}

.win-message {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    background-color:aquamarine;
	/* background-color: var(--color-set); */
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 3rem;
	font-family:Arial, Helvetica, sans-serif;
	flex-direction: column;
}

.win-message button {
	border-radius: 10px;
	font-size: 3rem;
	background-color: white;
	border: 1px solid var(--color-set);
	padding: .25em .5em;
	cursor: pointer;
}

.win-message button:hover {
	background-color: var(--color-set);
	color: white;
	border-color: white;
}

.win-message.focus {
	display: flex;
}